<html>
    <head>
        <title>HomeGrownCloud</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        
        <link rel="icon" href="../static/Photos/favicon.png">
        <style
            >body{
                background-image: url("../static/Photos/login-background.jpg"); 
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            } 
        </style>
    </head>

    <body>
        <div class="container-fluid">
            <div class="jumbotron mt-3 rounded-0 bg-secondary" style="opacity: 0.9;">
                <h3 class="lead" style="color: white;"><b>HomeGrownCloud</b></h3><br>
                <form action="/loginAttempt" method="POST">
                    <label for="username" class="lead" style="color: white;">Insert Your Username:</label>
                    <input type="text" name="username" placeholder="Enter Here" class="form-control py-3" required><br>
                    <label for="password" class="lead" style="color: white;">Insert Your Password:</label>
                    <input type="password" name="password" placeholder="Enter Here" class="form-control py-3" required><br>
                    <input type="submit" value="Login" class="btn btn-danger" style="width: 100%">
                </form>
                <h5>{{status}}</h5>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                function disablePrev(){ 
                    window.history.forward() 
                }
                window.onload = disablePrev();
                window.onpageshow = function(evt){ 
                    if (evt.persisted) disableBack() 
                }
            });
        </script>
    </body>
</html>